.u-center-text {
  text-align: center !important;
}

/**************MARGIN BOTTOM *************** */
.u-margin-bottom-smallest {
  margin-bottom: 0.8rem !important;
}

.u-margin-bottom-smaller {
  margin-bottom: 1.6rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2.4rem !important;
}

.u-margin-bottom-small-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 5.6rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8.4rem !important;
}

/**************MARGIN TOP *************** */
.u-margin-top-smallest {
  margin-top: 0.8rem !important;
}

.u-margin-top-smaller {
  margin-top: 1.6rem !important;
}

.u-margin-top-small {
  margin-top: 2.4rem !important;
}

.u-margin-top-medium {
  margin-top: 5.6rem !important;
}

.u-margin-top-big {
  margin-top: 8.4rem !important;
}

