.composition {
  position: relative;

  &__photo {
    width: 60%;
    box-shadow: 0 1.2rem 4.8rem rgba($color-black, 0.4);
    /* use absolute position to easily specify their arbitary position */
    position: absolute;
    border-radius: 1rem;
    z-index: 1;
    transition: all 0.2s ease-in;
    
    /* style each photo a distinct position */
    &--p1 {
      top: -1rem;
      left: 0;
    }
    
    /* style each photo a distinct position */
    &--p2 {
      top: 4rem;
      right: -8rem;
    }
    
    /* style each photo a distinct position */
    &--p3 {
      top: 12rem;
      left: 8rem;
    }
    
    &:hover {
      transform: scale(1.1) translate(0, -1.6rem);
      box-shadow: 0 2.4rem 4.8rem rgba($color-black, 0.5);
      z-index: 1000;

      outline: 1.2rem solid $color-primary;
      outline-offset: 1.6rem;
    }

  }

  /* when composition is being hoverred but only select the photos not being hoverred   */
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}